body {
	padding: 0;
	margin: 0;
	font-size: 12px;
	background-color: white;
}
  
/** 头部标题栏 */
#headerBar {
	width: 100%;
	height: 30px;
	font-size: 14px;
	border-collapse: collapse;
	position:fixed;
	background-color: white;
	top:0;
	z-index: 10000;
}

#headerBar   a{
	text-decoration: none;
}


/*********************************
  导航栏
*/
#navBar{
	list-style-type:none;
	padding:0;
	margin:0;
	border:1px solid #dedede;
	height:2.3em;
}

#navBar li{
	float:left;
	line-height:2.3em;
	padding-left:.75em;
	color:#777;
}

#navBar  li  a{
	display:block;
	padding:0 15px 0 0;
	background: url(../images/nav/nav.jpg) no-repeat right center;
}

#navBar  li  a:link , #navBar  li  a:visited{
	color:#777;
	text-decoration:none;
}

#navBar  li  a:hover , #navBar  li  a:focus{
	color:#dd2c0d;	
}

/**********************************
	显示操作消息的控制台样式
*/
#console{
	border:1px solid black;
	background-color: yellow;
	width:300px;
	display:none;
	position: fixed;
	left:700px;
	text-align: center;
	z-index: 100000000;
	top:0;
}